<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- general colors -->
	<key>colors</key>
	<dict>
		<key>red</key>
		<dict>
			<key>hue</key>
			<real>5</real>
			<key>saturation</key>
			<real>78</real>
			<key>brightness</key>
			<real>88</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>redLight</key>
		<dict>
			<key>hue</key>
			<real>5</real>
			<key>saturation</key>
			<real>78</real>
			<key>brightness</key>
			<real>88</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>yellow</key>
		<dict>
			<key>hue</key>
			<real>18</real>
			<key>saturation</key>
			<real>85</real>
			<key>brightness</key>
			<real>90</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>yellowLight</key>
		<dict>
			<key>hue</key>
			<real>18</real>
			<key>saturation</key>
			<real>85</real>
			<key>brightness</key>
			<real>90</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>bgColor</key>
		<dict>
			<key>hue</key>
			<real>0</real>
			<key>saturation</key>
			<real>0</real>
			<key>brightness</key>
			<real>100</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>headerColor</key>
		<dict>
			<key>hue</key>
			<real>0</real>
			<key>saturation</key>
			<real>0</real>
			<key>brightness</key>
			<real>100</real>
			<key>alpha</key>
			<real>0.85</real>
		</dict>
	</dict>
	<!-- radii -->
	<key>radii</key>
	<dict>
		<key>default</key>
		<real>8</real>
		<key>big</key>
		<real>20</real>
	</dict>
	<!-- shadows -->
	<key>shadows</key>
	<dict>
		<key>headerShadow</key>
		<dict>
			<key>blur</key>
			<real>1</real>
			<key>angle</key>
			<real>90</real>
			<key>alpha</key>
			<real>0.25</real>
		</dict>
	</dict>
	<!-- blurs -->
	<key>blurs</key>
	<dict>
		<key>backgroundBlur</key>
		<dict>
			<key>tintColor</key>
			<dict>
				<key>hue</key>
				<real>0</real>
				<key>saturation</key>
				<real>0</real>
				<key>brightness</key>
				<real>100</real>
				<key>alpha</key>
				<real>0.70</real>
			</dict>
			<key>saturation</key>
			<real>2.5</real>
			<key>strength</key>
			<real>20.0</real>
		</dict>
	</dict>
	<!-- animation -->
	<key>animation</key>
	<dict>
		<key>openApp</key>
		<real>.4</real>
		<key>addItemOpen</key>
		<real>.4</real>
	</dict>
</dict>
</plist>
