<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>red</key>
		<dict>
			<key>hue</key>
			<real>0.00</real>
			<key>saturation</key>
			<real>0.00</real>
			<key>brightness</key>
			<real>0.00</real>
			<key>alpha</key>
			<real>1</real>
			 <key>changables</key>
				 <dict>
				    <key>saturation</key>
					 <real>0.03</real>
				    <key>hue</key>
					 <real>0.015</real>
				 </dict>	 
			 <key>listcolors</key>
			 <array>
				 <dict>
					 <key>hue</key>
				    <real>0.00</real>
					 <key>saturation</key>
				    <real>0.00</real>
					 <key>brightness</key>
				    <real>0.00</real>
					 <key>alpha</key>
				    <real>0.00</real>
				 </dict>
				 <dict>
					 <key>hue</key>
				    <real>0.00</real>
					 <key>saturation</key>
				    <real>0.00</real>
					 <key>brightness</key>
				    <real>0.00</real>
					 <key>alpha</key>
				    <real>0.00</real>
				 </dict>
			 </array>
		</dict>
		<key>orange</key>
		<dict>
			<key>hue</key>
			<real>0.00</real>
			<key>saturation</key>
			<real>0.00</real>
			<key>brightness</key>
			<real>0.00</real>
			<key>alpha</key>
			<real>1</real>
			 <key>changables</key>
				 <dict>
				    <key>saturation</key>
					 <real>0.03</real>
				    <key>hue</key>
					 <real>0.015</real>
				 </dict>	 
			 <key>listcolors</key>
			 <array>
				 <dict>
					 <key>hue</key>
				    <real>0.00</real>
					 <key>saturation</key>
				    <real>0.00</real>
					 <key>brightness</key>
				    <real>0.00</real>
					 <key>alpha</key>
				    <real>0.00</real>
				 </dict>
				 <dict>
					 <key>hue</key>
				    <real>0.00</real>
					 <key>saturation</key>
				    <real>0.00</real>
					 <key>brightness</key>
				    <real>0.00</real>
					 <key>alpha</key>
				    <real>0.00</real>
				 </dict>
			 </array>
		</dict>
	</dict>
</dict>
</plist>
