<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listColors</key>
	<dict>
		<key>red</key>
		<dict>
			<key>hue</key>
			<real>5</real>
			<key>saturation</key>
			<real>78</real>
			<key>brightness</key>
			<real>88</real>
			<key>alpha</key>
			<real>1</real>
			<key>changables</key>
			<dict>
				<key>hue</key>
				<real>0.03</real>
			</dict>
			<key>overviewColors</key>
			<array>
				<dict>
					<key>hue</key>
					<real>5</real>
					<key>saturation</key>
					<real>78</real>
					<key>brightness</key>
					<real>88</real>
					<key>alpha</key>
					<real>1</real>
				</dict>
				<dict>
					<key>hue</key>
					<real>8</real>
					<key>saturation</key>
					<real>78</real>
					<key>brightness</key>
					<real>88</real>
					<key>alpha</key>
					<real>1</real>
				</dict>
			</array>
		</dict>
		<key>yellow</key>
		<dict>
			<key>hue</key>
			<real>18</real>
			<key>saturation</key>
			<real>85</real>
			<key>brightness</key>
			<real>90</real>
			<key>alpha</key>
			<real>1</real>
			<key>changeables</key>
			<dict>
				<key>hue</key>
				<real>0.03</real>
			</dict>
			<key>overviewColors</key>
			<array>
				<dict>
					<key>hue</key>
					<real>45</real>
					<key>saturation</key>
					<real>85</real>
					<key>brightness</key>
					<real>90</real>
					<key>alpha</key>
					<real>1</real>
				</dict>
				<dict>
					<key>hue</key>
					<real>42</real>
					<key>saturation</key>
					<real>85</real>
					<key>brightness</key>
					<real>90</real>
					<key>alpha</key>
					<real>1</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>colors</key>
	<dict>
		<key>bgColor</key>
		<real>8</real>
		<key>big</key>
		<real>20</real>
	</dict>
	<key>radii</key>
	<dict>
		<key>default</key>
		<real>8</real>
		<key>big</key>
		<real>20</real>
	</dict>
</dict>
</plist>
